.container {
  display: flex;
  align-items: centers;
  width: 100%;
  margin-top: -1.6125rem;
}

.container label {
  display: flex;
  flex: 1;
  margin-right: 0.5rem;
}

.container label input {
  flex: 1;
  border-radius: 8px;
  border: none;
  background-color: var(--grey-500);
  padding: 1rem;
  color: var(--grey-100);
  caret-color: var(--grey-100);
}

.container label input::placeholder {
  color: var(--grey-300);
}

.container button {
  width: 5.625rem;
  height: 3.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: var(--blue-dark);
  color: var(--grey-100);
  font-weight: bold;
  font-size: 0.875rem;
  border-radius: 8px;
}

.container button svg {
  margin-left: 0.5rem;
}