.container {
  display: flex;
  align-items: center;
  height: 4.5rem;
  padding: 1rem;
  border: 1px solid var(--grey-400);
  border-radius: 8px;
  background-color: var(--grey-500);
  margin-bottom: 0.75rem;
}

.checked {
  border: none;
}

.checked > div > label {
  color: var(--grey-300);
  text-decoration: line-through;
}

.content {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  color: var(--grey-100);
}

.content > svg {
  cursor: pointer;
}

.checkboxContainer {
  display: block;
  position: relative;
  padding-left: 2rem;
}


.checkboxContainer input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.checkboxContainer .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.125rem;
  width: 1.125rem;
  border: 2px solid var(--blue);
  border-radius: 50%;
  transition: border-color 0.1s ease;
  cursor: pointer;
}

.checkboxContainer .checkmark:hover {
  border-color: var(--blue-dark);
}

.checkboxContainer .checkmark::after {
  content: "";
  position: absolute;
  display: none;
  left: 0.45rem;
  top: 0.25rem;
  width: 3.5px;
  height: 7px;
  border: solid var(--grey-100);
  border-width: 0 1.5px 1.5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkboxContainer input:checked ~ .checkmark {
  background-color: var(--purple-dark);
  border: none;
  transition: background-color 0.1s ease;
}

.checkboxContainer input:checked ~ .checkmark:hover {
  background-color: var(--purple);
}

.checkboxContainer input:checked ~ .checkmark::after {
  display: block;
}

.deleteIcon {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  color: var(--grey-300);
  background-color: transparent; 
  cursor: pointer;
  transition: background-color 0.1s ease, color 0.1s ease;
}

.deleteIcon:hover {
  background-color: var(--grey-400);
  color: var(--danger);
}